@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center my-4">
            <h1 class="display-4">ArqueoList</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="~/images/arqueologia1.jpg" alt="Arqueologia 1">
                <div class="card-body">
                    <h5 class="card-title">Descoberta Arqueologica</h5>
                    <p class="card-text">E que descoberta incrível! Fósseis encontrados na Polônia, quase parece mentira. Mas é verdade, descoberta feita pelo National Geographic Channel.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="~/images/arqueologia2.jpg" alt="Arqueologia 2">
                <div class="card-body">
                    <h5 class="card-title">Descoberta Arqueologica</h5>
                    <p class="card-text">E que descoberta incrível! Fósseis encontrados na Polônia, quase parece mentira. Mas é verdade, descoberta feita pelo National Geographic Channel.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="~/images/arqueologia3.jpg" alt="Arqueologia 3">
                <div class="card-body">
                    <h5 class="card-title">Descoberta Arqueologica</h5>
                    <p class="card-text">E que descoberta incrível! Fósseis encontrados na Polônia, quase parece mentira. Mas é verdade, descoberta feita pelo National Geographic Channel.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="~/images/arqueologia4.jpg" alt="Arqueologia 4">
                <div class="card-body">
                    <h5 class="card-title">Descoberta Arqueologica</h5>
                    <p class="card-text">E que descoberta incrível! Fósseis encontrados na Polônia, quase parece mentira. Mas é verdade, descoberta feita pelo National Geographic Channel.</p>
                </div>
            </div>
        </div>
    </div>
</div>